@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  height: 200vh;
}
.nav-bar {
  background-color: rgba(95, 228, 255, 0.351);
  backdrop-filter: blur(8px);
  color: #2c2b2b;
  font-family: "Poppins";
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  width: 100vw;
  inset: 0;
  position: fixed;
  height: fit-content;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.141);
  align-items: center;
}
.nav-bar a {
  color: #555555;
}
#logo {
  margin: 0;
}

/* intro page */
.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.intro-section-img {
  width: 30%;
  min-width: 200px;
}
.intro-text-container {
  max-width: 450px;
}
